* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: chartreuse;
}

.container {
  background-color: burlywood;
  width: 80%;
  margin: 32px auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px 6px;
}

.message {
  height: 200px;
  text-align: center;
  background-color: brown;
  color: white;
}
